html {
  background-color: red;
 display : flex;
  justify-content:center;
}
h1{
  background-color:yellow;
}
p{
  background-color:orange;
}
 .text{
   font-family:"Comic sans ms" ,Papyrus, Fantasy;
 }

